@import "avatar";
@import "blog_list";
@import "button";
@import "github_content";
@import "language";
@import "vue_transition";

.container {
  margin: 0 auto;
  width: Min(1200px, 80%);
}

.scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 10px;
  }
}
