// Colours
$main-background: #181818;
$secondary-background: #222222;
$main-color: #e3e3e3;
$secondary-color: #e3e3e380;
$dark-nuxt-green: #00dc82;
$light-nuxt-green: #80eec0;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Poppins:wght@100;400;500&family=Roboto:wght@100;400;500&display=swap');

$main-font: 'Roboto', sans-serif;
$header-font: 'Poppins', sans-serif;
